.ripple-effect{
  opacity: 0.2;
  border-radius: 50%;
  position: absolute;
  transform: scale(0.5);
  pointer-events: none;
  will-change: transform opacity;
  background-color: currentColor;
  transition: transform 1500ms cubic-bezier(0.0, 0.0, 0.2, 1), opacity 1500ms cubic-bezier(0.0, 0.0, 0.2, 1);

  &.active{
    transform: scale(3);
  }

  &.inactive{
    opacity: 0;
    transform: scale(3.5);
  }
}