:root{
    // Typography

    --typography-button: 0.875rem;
    --typography-caption: 0.75rem;

    // Elevations

    --elevation-2dp: 0 2px 4px rgba(0, 0, 0, 0.24);
    --elevation-4dp: 0 4px 6px rgba(0, 0, 0, 0.22);
    --elevation-8dp: 0 8px 16px rgba(7, 3, 3, 0.24), 0 0 16px rgba(0, 0, 0, 0.3);

    // Motion duration

    --motion-duration-simple: 100ms;
    
    // Motion easing

    --motion-easing-standart: cubic-bezier(0.4, 0.0, 0.2, 1);
    --motion-easing-decelerate: cubic-bezier(0.0, 0.0, 0.2, 1);
    --motion-easing-accelerate: cubic-bezier(0.4, 0.0, 1, 1);

    // Border radius

    --border-radius: 4px;
}